.vscode/*
node_modules
public/*
vendor
.editorconfig
*.env
.eslintrc.json
*.gitattributes
*.gitignore
artisan
.prettierrc
composer.json
composer.lock
package-lock.json
package.json
phpunit.xml
README.md
postcss.config.js
tailwind.config.js
tsconfig.json
vite.config.js
example
CHANGELOG.md